::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
  .ant-modal-content .ant-modal-body {
    .custom-green {
      background-color: #2df687;
    }
    .custom-yellow {
      background-color: #fade33;
    }
    .custom-orange {
      background-color: #ff9d40;
    }
    .custom-red {
      background-color: #ff6464;
    }
  }
}


