@import "src/app/pages/block-view/block-view.component";

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
  .ant-modal-content .ant-modal-body {
    .custom-green {
      background-color: #38a869;
    }
    .custom-yellow {
      background-color: #ffcc33;
    }
    .custom-orange {
      background-color: #ff8133;
    }
    .custom-red {
      background-color: #d40c45;
    }
    .popup-modal {
      padding-left: 10px;
      color: white;
      margin: 10px 0;
    }
  }
}

.btn {
  border: hidden;
}


