<div class="container-fluid">
  <div *ngIf="studyArea" class="card" style="max-height: 100%;">
    <div class="card-body rounded shadow" style="max-height: 100%;">
      <h4 class="card-title">{{ studyArea.areaName }}<br></h4>

      <hr>
      <div style="margin-bottom: 50px;">
        <div *ngFor="let score of studyArea.scores; index as i">
          <span class="text-muted small">{{ score.toFixed(2).toString() + '%' }}</span>
          <div class="progress mb-4">
            <div [attr.aria-valuenow]="score"
                 [attr.aria-valuemin]="0"
                 [attr.aria_valuemax]="100"
                 [style.width]="score + '%'"
                 [classList]="['progress-bar progress-bar-striped progress-bar-animated '.concat(getClass(i))]"
            ></div>
          </div>
        </div>
        <p class="text-monospace float-left text-muted" style="/*float: right;*/font-size: 14px;">
          Last Updated: {{ studyArea.lastUpdated }}</p>
      </div>

      <hr>
      <section>
        <h6 class="mb-2">Description</h6>
        <p class="text-muted" style="margin-bottom: 20px; white-space: pre-line"
        >{{ processDescriptionText(studyArea.description) }}</p>
      </section>

      <hr>
      <section>
        <h6 class="mb-2">Facilities</h6>
        <div class="row">
          <div *ngFor="let facility of studyArea.facilities" class="col-6 text-muted mb-2">
            <i [className]="'fa '.concat(getIcon(facility))"></i>
            {{ facility }}
          </div>
        </div>
      </section>

      <hr>
      <div>
        <h6 class="mb-2">Contribute</h6>
        <div>
          <div class="row" style="padding-bottom: 20px;padding-left: 20px;padding-right: 20px;">
            <h6 class="text-center text-muted mb-2 col-12"
                style="margin-top: 10px;margin-left: 10px;padding-bottom: 10px;">How does it
              look like?</h6>

            <div *ngFor="let sc of studyArea.scores; index as i" class="text-center col-6 mb-2">
              <button class="btn btn-success btn-sm shadow-sm custom-green" type="button"
                      style="margin-right: 5px;margin-bottom: 5px;"
                      (click)="submitScoreUpdate(i)"
                      [classList]="['btn btn-success btn-sm shadow-sm '.concat(getClass(i))]"
              >
                {{ getText(i) }}
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
